.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 300px;
}
.image-wrapper {
  padding-top: 200px;
  width: 50%;
  text-align: center;
}
.about-photo {
  min-width: 200px;
  height: 250px;
  border-radius: 10px;
  transform: scale(1.5);
}

.about-content {
  padding-top: 200px;
  width: 50%;
}
.about-title {
  font-size: 38px;
  margin-bottom: 20px;
}
.line {
  display: block;
  width: 260px;
  border-bottom: 2px solid red;
  margin-bottom: 20px;
}
.about-descr {
  width: 100%;
  font-size: 18px;
  line-height: 150%;
}

.download {
  display: flex;
  flex-direction: column;
}

.download-cv {
  margin-bottom: 20px;
}
.cv-icon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.download-span {
  position: relative;
}
.download-span::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease-in-out;
}
.download-span:hover::after {
  width: 100%;
}
.download-span:focus::after {
  width: 100%;
}
.download-cv:hover .cv-icon {
  fill: #fff;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 0;
  }

  .about-photo {
    width: 50px;
    height: 200px;
  }
  .about-descr {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    height: auto;
  }

  .image-wrapper {
    width: auto;
    padding-top: 100px;
    margin-bottom: 100px;
  }
  .about-content {
    width: 90%;
  }
}
