@font-face {
  font-family: "YsabeauOffice-ExtraBoldItalic";
  src: local(YsabeauOffice-ExtraBoldItalic), local(YsabeauOfficeExtraBoldItalic),
    url("../fonts/YsabeauOffice-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/YsabeauOffice-ExtraBoldItalic.woff") format("woff");
  font-style: italic;
  font-display: swap;
  font-weight: 1000;
}
@font-face {
  font-family: "YsabeauOffice-Italic";
  src: local(YsabeauOffice-Italic), local(YsabeauOfficeItalic),
    url("../fonts/YsabeauOffice-Italic.woff2") format("woff2"),
    url("../fonts/YsabeauOffice-Italic.woff") format("woff");
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "YsabeauOffice-Italic", serif;
  font-weight: 400;
  font-style: italic;
  color: #000;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  margin: 0 auto;
}
.container {
  min-width: 320px;
  height: max-content;
  padding: 50px 100px 10px 100px;
}
a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

section {
  height: 100vh;
}
image {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .container {
    padding: 25px 25px 10px 25px;
  }
}
