.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.contact-image {
  width: 50%;
  height: 400px;
}
.contact-image img {
  width: 100%;
  height: 100%;
}

.contact__content {
  padding-top: 150px;
  width: 50%;
  height: 600px;
}
.contact-title {
  font-size: 32px;
  line-height: 130%;
  padding-bottom: 30px;
}
.contact-descr {
  width: 50%;
  margin-bottom: 50px;
}
.contact__list {
  display: flex;
  padding: 0;
}

.contact-link {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 25px;
  margin-bottom: 50px;
}
.contact-link:hover {
  transform: scale(1.2);
}
.contact-link:focus {
  outline: none;
  border-radius: 50%;
  border: 2px solid #28564E;
  transform: scale(1.2);
}

.contact-link-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.email-btn {
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #28564E;
  border-radius: 10px;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}
.email-btn:hover {
  background-color: #28564E;
}
.email-btn:focus {
  outline: none;
  background-color: #28564E;
}
.email-btn:active {
  outline: none;
  background-color: #79394D;
}

@media screen and (max-width: 610px) {
  .contact {
    flex-direction: column;
  }
  .contact-image {
    display: block;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
  }
  .contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0;
    margin: 0;
  }
  .contact-descr {
    width: 90%;
    margin-bottom: 50px;
    padding: 0;
  }
}
