.contact {
  display: flex;
  width: 100%;
  height: calc(100vh - 330px);
  margin-top: 200px;
}

.contact-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.contact-image img {
  width: 50%;
  height: 50%;
}

.contact__content {
  width: 50%;
  height: 600px;

}
.contact-title {
  font-size: 32px;
  line-height: 100%;
  padding-bottom: 30px;
}
.contact-descr {
  width: 350px;
  margin-bottom: 50px;
}
.contact__list {
  display: flex;
}

.contact-link {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 25px;
  margin-bottom: 50px;
}
.contact-link:hover {
  transform: scale(1.2);
}

.contact-link-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.email-btn {
  text-align: center;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}
.email-btn:hover {
  background-color: #f90;
  border: 1px solid #f90;
}
