.github-link {
  position: relative;
  font-size: 22px;
  line-height: 100%;
  outline: none;
}

.github-link::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #28564E;
  transition: width 0.3s ease-in-out;
}
.github-link:hover::after {
  width: 100%;
}
.github-link:focus::after {
  width: 100%;
}

.github-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .github-link {
    font-size: 20px;
  }
}
