.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 70px;
}
.hero-left-content {
  width: 50%;
}
.hero-title {
  padding-top: 100px;
  margin-bottom: 30px;
  width: 100%;
  font-family: "Roboto-Bold";
  font-size: 54px;
  font-weight: 1000;
}
.hero-descr {
  width: 80%;
  margin-bottom: 50px;
  font-size: 26px;
  line-height: 100%;
}
.hero-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #28564E;
  background-color: transparent;
}

.hero-btn:hover {
  background-color: #28564E;
  color: #fff;
}
.hero-btn:focus {
  background-color: #28564E;
  outline: none;
  color: #fff;
}
.hero-btn:active {
  background-color: #79394D;
}
.hero-btn {
  padding: 10px 20px;
}

.hero-image-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backbclock {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.backtotop {
  border: none;
  font-size: 24px;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.backtotop::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff9900;
  transition: width 0.3s ease-in-out;
}
.backtotop:hover::after {
  width: 100%;
}
.backtotop:focus::after {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .hero-section {
    margin-top: 100px;
  }
}

@media (max-width:1024px) {
  .hero-section {
    margin-top: 40px;
  }
  .hero-title {
    padding-top: 0px;
  }
  .hero-image {
    width: auto;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-left-content {
    width: 100%;
  }
  .backbclock {
    bottom: 15px;
    right: 15px;
  }
  .backtotop {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .hero-image-wrapper {
    display: none;
  }
}
