.technologystack {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 150px;
  width: 1628px;
}

.item {
  display: flex;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: transparent;
}
.item:not(:last-child) {
  margin-right: 30px;
}

.item-image {
  width: 100px;
  height: 100px;
  background-color: transparent;
}
