.translate__list {
  display: flex;
  margin-right: 30px;
}
.translate__list-item {
  position: relative;
  margin-right: 8px;
  outline: none;
  border-radius: 10px;
}
.translate__list-item::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #28564E;
  transition: width 0.3s ease-in-out;
}
.translate__list-item:hover::after {
  width: 100%;
}


.translate__list-item:active::after {
  width: 100%;
  background-color: #79394D;
}
.translalte__list-item-btn {
  border: none;
  background-color: transparent;
  outline: none;
}
.translalte__list-item-btn:focus {
  outline: solid #28564E;
  border-radius: 5px;
}
.translate__list-item-img {
  width: 30px;
  height: 26px;
}

@media screen and (max-width: 1023px) {
  .translate__list {
    padding: 15px;
  }
}

@media screen and (max-width: 610px) {
  .translate__list {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
