.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works__list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.works__list-item {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.works__list-item:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #ff9900;
}

.works__list-item-link:focus {
  border-radius: 10px;
  outline-offset: 1px;
  outline: solid #ff9900;
}

.works__list-item-link-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.works__list-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.works-descr {
  font-size: 28px;
  line-height: 100%;
}

@media screen and (max-width: 1440px) {
  .works__list {
    width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .works__list {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .works {
    width: 100%
  }
  .works__list {
    margin-bottom: 0;
  }
  .works__list-item {
    width: 280px;
    height: 280px;
    margin-right: 0;
    padding: 0;
  }
  .works__list-item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .works__list-item-link-img {
    width: 280px;
    height: 280px;
  }
}
